# Generate individual stock data set

In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
to_dt = pd.read_csv('Turnover.csv')
p_dt = pd.read_csv('ClosePrice.csv')
to_dt.tail()

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,603987.SH,603988.SH,603989.SH,603990.SH,603991.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
3400,0.9180,0.3783,0.7259,0.3114,0.0,0.0,0.4526,0.9066,1.0029,0.9602,...,1.9111,0.6575,1.3221,0.2757,3.1518,2.3749,16.6230,0.6156,0.2845,1.8319
3401,0.5810,0.3968,0.6273,0.2560,0.0,0.0,0.6081,0.5825,1.6751,1.4144,...,1.3564,0.3495,2.2384,0.3380,3.1610,1.0757,14.3360,1.6472,0.4443,0.9024
3402,1.2304,0.7039,0.7548,0.7521,0.0,0.0,0.4122,0.9089,1.6316,2.6003,...,0.8935,0.5863,2.0445,0.3916,3.0310,1.2582,8.4239,0.7982,0.4638,1.0748
3403,1.7511,0.6662,2.2655,0.7148,0.0,0.0,0.3481,1.0892,2.1633,2.4410,...,1.1307,0.9476,2.1396,0.3454,1.9781,2.1214,5.7805,0.9189,0.3635,1.1160
3404,1.0962,0.5449,1.7527,0.4606,0.0,0.0,0.3792,2.2165,1.7944,1.6742,...,1.3133,1.0589,2.2712,0.2751,2.3058,1.6581,3.2608,0.9312,0.7724,1.3612

In [3]:
re_all = []
m,n = len(to_dt),len(to_dt.T)
for i in range(m-1):
    for j in range(n-1):
        if (not math.isnan(to_dt.iloc[i,j])) and to_dt.iloc[i,j] != 0:
            re_all.append(p_dt.iloc[i+1,j]/p_dt.iloc[i,j]-1)

In [39]:
re_all.sort()
sigma1 = ss.norm.cdf(1)
sigma2 = ss.norm.cdf(2)
sigma3 = ss.norm.cdf(3)
a = len(re_all)
low1,high1 = re_all[int((1-sigma1)*a)],re_all[int((sigma1)*a)]
low2,high2 = re_all[int((1-sigma2)*a)],re_all[int((sigma2)*a)]
low3,high3 = re_all[int((1-sigma3)*a)],re_all[int((sigma3)*a)]
[low3,low2,0,low1,high1,high2,high3]

[-0.10002942041776997,
 -0.03077432164129712,
 0,
 0.01702327034202722,
 0.020460610853019645,
 0.06611570247933884,
 0.10044819404165573]

In [48]:
h_dt = pd.read_csv('HighPrice.csv')
l_dt = pd.read_csv('LowPrice.csv')
o_dt = pd.read_csv('OpenPrice.csv')
v_dt = pd.read_csv('TradeValue.csv')

In [163]:
def choose_stock(stock_code):
    df = pd.DataFrame()
    df['open'] = o_dt[stock_code]
    df['close'] = p_dt[stock_code]
    df['high'] = h_dt[stock_code]
    df['low'] = l_dt[stock_code]
    df['trade value'] = v_dt[stock_code]
    df['turnover'] = to_dt[stock_code]
    df['return'] = 0
    for i in range(len(df)-1):
        df.iloc[i+1,6] = df.iloc[i+1,1]/df.iloc[i,1]-1
    return df

In [170]:
def clean_stock(df):
    df = df.dropna()                 #drop the NAN value 
    df = df[df['turnover'] > 0]      #drop the 0 turnover value
    df.index = range(len(df))        #Reindex
    return df

In [171]:
code1 = '600519.SH'
code2 = '600019.SH'
code3 = '601398.SH'
code4 = '300431.SZ'
MaoTai = clean_stock(choose_stock(code1))
BaoGang = clean_stock(choose_stock(code2))
ICBC = clean_stock(choose_stock(code3))
BaoFeng = clean_stock(choose_stock(code4))

In [172]:
MaoTai.to_csv('600519.csv')
BaoGang.to_csv('600019.csv')
ICBC.to_csv('601398.csv')
BaoFeng.to_csv('300431.csv')

In [174]:
ICBC.tail()

       open  close   high   low  trade value  turnover    return
2697   9.82  10.00  10.00  9.81    1280000.0    0.0779  0.014199
2698   9.99  10.10  10.13  9.97    1340000.0    0.0804  0.010000
2699  10.09  10.07  10.41  9.96    3360000.0    0.1993 -0.002970
2700  10.07  10.04  10.30  9.97    2170000.0    0.1296 -0.002979
2701  10.07   9.89  10.07  9.87    2660000.0    0.1614 -0.014940